<html>
<title>Mafia Game</title>
<h2 id="familyname">{{familyname}}</h2>
<br>
<br>
<div id="messagebox" style="height:220px;width:640px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='mclient.js') }}"></script>
</html>